.App {
  font-family: sans-serif;
}
.slides-container {
  width: 100%;
  height: 65vh;
  display: flex;
  align-items: center;
  background-color: coral;
  position: relative;
}
.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}
.slide {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
}
.right-arrow {
  font-size: xxx-large;
  position: absolute;
  right: 15px;
  color: yellow;
  opacity: 0.5;
  z-index: 1;
}
.left-arrow {
  font-size: xxx-large;
  position: absolute;
  left: 15px;
  color: yellow;
  opacity: 0.5;
  z-index: 1;
}

.img-container {
  flex: 1;
  /* background-size: cover; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-container {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slide-img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
